<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Festival table</title>
</head>
<body>

<td th:fragment="editFestival" colspan="4">
    <form th:object="${festivalModel}" hx:put="@{/festivals}" hx-swap="none">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-5">
                <input type="text" th:field="*{name}" class="form-control form-control-sm"
                       id="colFormLabelSm">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-sm">Изменить</button>
                <button type="button" class="btn btn-secondary btn-sm"
                        hx-on:click="htmx.trigger('#festivalTable','update')"
                >Cancel
                </button>
            </div>
        </div>
        <!--    <div class="row">-->
        <!--        <div class="col">-->


        <!--        </div>-->
        <!--    </div>-->

    </form>
</td>

</body>
</html>
