<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>photo</title>
</head>
<body>
<div class="container" th:fragment="photo">
    <input type="hidden" id="eventId" name="eventId" th:value="${eventTableModel.id}">
    <table class="table table-sm caption-top">
        <caption>
            Выбранное мероприятие
        </caption>
        <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Дата начала</th>
            <th>Фестиваль</th>
            <th>Концертный зал</th>
            <th>Помещение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${eventTableModel.id}"></td>
            <td th:text="${eventTableModel.name}"></td>
            <td th:text="${#temporals.format(eventTableModel.startDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${eventTableModel.festivalName}"></td>
            <td th:text="${eventTableModel.hallName}"></td>
            <td th:text="${eventTableModel.roomName}"></td>
        </tr>
        </tbody>
    </table>

    <div id="photo_replace_fragment">

    </div>

</div>




</body>
</html>