<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
<div th:fragment="uploadForm">
    <div id="main-container">

        <div class="row mb-1">
            <div class="col-sm-4">
                <input class="form-control form-control-sm" type="file" id="files" multiple/>
                <!--        <input type="hidden" id="eventId" name="eventId" th:value="${eventTableModel.id}">-->
            </div>
            <div class="col-sm-auto">
                <button class="btn btn-sm btn-primary" type="button" id="uploadButton">Загрузить на сервер</button>
            </div>
        </div>

        <div class="row mb-1" id="filesInfo" hidden="hidden">
            <div class="col-sm-auto" id="totalFilesSize"></div>
        </div>


        <div class="container" id="uploadInfo" hidden="hidden">
            <div class="progress mb-1" role="progressbar">
                <div class="progress-bar" style="width: 0%"></div>
            </div>

            <div class="row" id="rowInfo">
                <div class="col-4" id="successCount">
                    <!--  Загружено 0 из 234          -->
                </div>
                <div class="col-4 text-danger" id="errorCount">
                    <!--  ошибок 3-->
                </div>
            </div>
            <!--        -->
        </div>

        <div class="container" id="uploadStatistics">

        </div>


        <div id="upload-status-container">
            <div id="upload-header">
                <span id="upload-header-text"></span>
                <i class="action-icon fa fa-window-minimize pull-right" onclick="showHide(this)" title="minimize"></i>
            </div>
            <div id="progress-bar-container">
                <table class="table">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="scripts/upload.js">


    </script>

</div>
</body>
</html>