<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit event</title>
</head>
<body>
<div class="container" th:fragment="editEvent" hx:get="@{/events}" hx-trigger="update from:body" hx-swap="outerHTML" id="editEvent">
    <form th:object="${eventEditModel}" hx:put="@{/events}" hx-swap="none">
<!--        -->
        <input type="hidden" th:field="*{id}">

        <div class="row">
            <div class="col-4">
                <label for="eventName" class="form-label from-label-sm">Название</label>
                <input type="text" class="form-control form-control-sm" id="eventName" th:field="*{name}">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></p>
            </div>
            <div class="col-auto">
                <label for="eventDate" class="form-label from-label-sm">Дата</label>
                <input type="date"  class="form-control form-control-sm" id="eventDate" th:field="*{startDate}">
                <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" style="color: red;"></p>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-4">
                <div th:replace="~{fragments/festivals/festivalSelectView::festivalSelectView}"></div>
<!--                <div hx:get="@{/events/festivalView(selectedFestivalId=${eventEditModel.festivalId})}" hx-trigger="load" hx-swap="outerHTML"></div>-->
                <p th:if="${#fields.hasErrors('festivalId')}" th:errors="*{festivalId}" style="color: red;"></p>
            </div>
            <div class="col-4">
                <div th:replace="~{fragments/halls/hallSelectView::hallSelectView}"></div>
<!--                <div hx:get="@{/events/hallView(selectedHallId=${eventEditModel.hallId})}" hx-trigger="load" hx-swap="outerHTML"></div>-->
                <p th:if="${#fields.hasErrors('hallId')}" th:errors="*{hallId}" style="color: red;"></p>
            </div>
            <div class="col-4">
                <div th:replace="~{fragments/rooms/roomSelectView::roomSelectView}"></div>
<!--                <div hx:get="@{/events/roomViewByHallId(selectedRoomId=${eventEditModel.roomId}, hallId=${eventEditModel.hallId})}"-->
<!--                     hx-trigger="load" hx-swap="outerHTML"></div>-->
                <p th:if="${#fields.hasErrors('roomId')}" th:errors="*{roomId}" style="color: red;"></p>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-sm">Соханить</button>
                <button type="button" class="btn btn-secondary btn-sm" hx-on:click="htmx.trigger('#editEvent','update')" >Отмена</button>
            </div>

        </div>
    </form>
</div>

</body>
</html>