<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event table</title>
</head>
<body>
<div th:fragment="eventTable" class="container" id="eventFormReplace" >
    <table class="table table-sm caption-top">
        <caption>
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-primary btn-sm"
                            hx:get="@{/events/add}" hx-target="#eventFormReplace" hx-swap="outerHTML">Добавить</button>
                </div>
            </div>
        </caption>
        <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Дата начала</th>
            <th>Фестиваль</th>
            <th>Концертный зал</th>
            <th>Помещение</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event: ${eventTableModels}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.startDate}"></td>
            <td th:text="${event.festivalName}"></td>
            <td th:text="${event.hallName}"></td>
            <td th:text="${event.roomName}"></td>
            <td>
                <div class="row">
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary btn-sm"
                                hx:get="@{/events/{id}(id=${event.id})}" hx-swap="outerHTML"
                                hx-target="#eventFormReplace">Редактировать</button>
                        <button type="button" class="btn btn-danger btn-sm">Удалить</button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>