<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="addRoomForm">
    <form th:object="${room}" hx:post="@{/rooms}" hx-include="[name='hallId']" hx-swap="none">
        <div class="row justify-content-start">
            <div class="col-5">
                <input type="text" class="form-control form-control-sm" th:field="*{name}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-sm">Добавить</button>
                <button type="button" class="btn btn-secondary btn-sm" hx:get="@{/rooms/cancel}" hx-params="none" hx-swap="none">Отменить</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>