<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>editRoomForm</title>
</head>
<body>
<tr th:fragment="editRoomForm">
    <td colspan="3">
        <form th:object="${roomModel}" hx:put="@{/rooms}" hx-swap="none" hx-include="#hallId">
            <input type="hidden" th:field="*{id}">
            <div class="row justify-content-start">
                <div class="col">
                    <input type="text" class="form-control form-control-sm" th:field="*{name}">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
                    <button type="button" class="btn btn-secondary btn-sm"
                            hx-on:click="htmx.trigger('#roomTableReplace','updateRooms')">Отменить
                    </button>
                </div>
            </div>
        </form>
    </td>
</tr>
</body>
</html>