<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>roomSelectView</title>
</head>
<body>
<div th:fragment="roomSelectView">
    <label for="roomId" class="form-label from-label-sm">Помещение</label>
    <select class="form-select form-select-sm" size="10" id="roomId" name="roomId">
        <option th:each="room: ${roomModels}"
                th:text="${room.name}" th:value="${room.id}"
                th:selected="${room.id} == ${selectedRoomId}"></option>

    </select>
</div>
</body>
</html>