<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Festival table</title>
</head>
<body>

<div th:fragment="editFestival">
    <td colspan="4">
        <!--    <div class="row">-->
        <!--        <div class="col">-->
        <input type="text" name="festivalName" th:value="${festival.name}" class="form-control form-control-sm"
               id="colFormLabelSm" placeholder="col-form-label-sm"

        >
        <button type="button" class="btn btn-primary btn-sm"
                hx:put="@{/festivals/{id}(id=${festival.id})}"
                hx-swap="none"
                hx-trigger="click"
                hx-include="[name='festivalName']">
            Ок
        </button>
        <button type="button" class="btn btn-secondary btn-sm"
                hx:get="@{/festivals/cancel}"
                hx-swap="none"
                hx-trigger="click"
        >Cancel
        </button>
        <!--        </div>-->
        <!--    </div>-->

    </td>
</div>

</body>
</html>
