<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
</head>
<body>

<div th:fragment="footer">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
<!--    <script src="https://unpkg.com/htmx.org@2.0.3"></script>-->
    <script src="/webjars/htmx.org/2.0.3/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/scripts/common.js}"></script>
</div>

</body>
</html>