<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
</head>
<body>

<div th:fragment="footer">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
    <script src="/webjars/htmx.org/2.0.2/dist/htmx.min.js"></script>
    <script>
        function disablePanel(id) {
            var panel = document.getElementById(id);
            var inputs = panel.querySelectorAll('input, button'); //anything else can go in here
            for (var i=0; i<inputs.length; i++) {
            inputs[i].disabled = true;
       }
     //  panel.style.opacity = 0.3; //or any other value
    }
    </script>
</div>

</body>
</html>