<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>hallData</title>
</head>
<body>
<div th:fragment="hallSelectView">
  <label for="hall" class="form-label from-label-sm">Концертный зал</label>
  <select class="form-select form-select-sm" size="10"  name="hallId" id="hall">
    <option th:each="hall: ${halls}"
            th:text="${hall.name}" th:value="${hall.id}"
            th:selected="${hall.id} == ${selectedHallId}"></option>
  </select>
</div>
</body>
</html>