<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
<div th:fragment="navigation_images" hx:get="@{/nav}" hx-swap="outerHTML" hx-trigger="navUpdate" id="navUpdate" hx-swap-oob="true">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img th:src="@{/assets/logo.png}" alt="JMS-Studio" width="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  href="#"
               hx:get="@{/images/uploadForm}" hx-trigger="click"  hx-swap="innerHTML" hx-target="#photo_replace_fragment"
               hx-on:click="setActiveLink(event)">Загрузка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#" id="img_nav_view"
               hx:get="@{/images/view}" hx-trigger="click"  hx-include="#eventId" hx-swap="innerHTML" hx-target="#photo_replace_fragment"

               hx-on:click="setActiveLink(event)">Просмотр</a>

          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#"
               hx:get="@{/halls}" hx-trigger="click"  hx-swap="innerHTML" hx-target="#indexReplace"
               hx-on:click="setActiveLink(event)">Разбиение на номера</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#"
               hx:get="@{/rooms}" hx-trigger="click"  hx-swap="innerHTML" hx-target="#indexReplace"
               hx-on:click="setActiveLink(event)">Редактирование</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#"
               hx:get="@{/images/main}" hx-trigger="click" hx-swap="none" hx-target="#indexReplace"
               hx-on:click="setActiveLink(event)" >В основное меню</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


</body>
</html>