<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="addHall">
    <div class="container pb-3">
        <form hx:post="@{/halls}" hx-swap="none" th:object="${hallModel}">
            <input type="hidden" th:field="*{id}">
            <div class="row  justify-content-start align-items-end">
                <div class="col-4">
                    <label for="hallName" class="form-label form-label-sm">Название</label>
                    <input type="text" id="hallName" th:field="*{name}" class="form-control form-control-sm">
                </div>
                <div class="col-5">
                    <label for="hallAddress" class="form-label form-label-sm">Адрес</label>
                    <input type="text" th:field="*{address}" id="hallAddress" class="form-control form-control-sm">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-sm">
                        Добавить
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm"
                            hx-on:click="htmx.trigger('#hallTable','update')">Отменить
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>