<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
</head>
<body>
    <table>
        <thead>
            <th>
                Фестиваль
                <br>
                <a th:href="@{/admin/festivals}">Управление</a>
            </th>
            <th>Концертный зал</th>
            <th>Помещение</th>
            <th>Дата проведения</th>
        </thead>
        <tbody>
            <tr>
                <td th:if="${festivals.size()>0}">
                    <label for="festival">Выберите фестиваль:</label>
                    <select id="festival" name="festivalSelect">
                        <option th:each="festival: ${festivals}" th:value="${festival.id}" th:text="${festival.name}">Option</option>
<!--                        <option value="lumia 950">Lumia 950</option>-->
<!--                        <option value="nexus 5x">Nexus 5X</option>-->
<!--                        <option value="galaxy s7">Galaxy S7</option>-->
                    </select>
                </td>
                <td th:unless="${festivals.size()>0}">Список фестивалей пуст</td>
            </tr>
        </tbody>
    </table>
    <br>
<!--    <a th:href="@{/admin/festivals}">Управление фестивалями</a>-->
</body>
</html>