<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Помещения</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
</head>
<body>
<header th:replace="~{fragments/navigation :: navigation(link='rooms')}"></header>

<main>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p class="lead text-primary">Концертные залы</p>
                <div th:replace="~{fragments/rooms/hallDataView :: hallDataView}" ></div>
            </div>
            <div class="col-8 text-center">
                <p class="lead text-primary">Помещения</p>
                <div th:replace="~{fragments/rooms/roomTable :: roomTable}"></div>
            </div>
        </div>
    </div>


</main>


    <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>