<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
    <div>
        <form id="uploadForm"
              method="post"
              th:action="@{/upload}"
              enctype="multipart/form-data">
            <input id="input-file" type="file" name="file" accept="image/png, image/jpeg" />
            <button class="btn btn-sm btn-outline-success float-right" type="submit">
                Upload
            </button>
        </form>
    </div>
</body>
</html>